/* === Variables (optionnel) === */
:root {
    --main-bg-color: #f8f8f8;
    --primary-color: #2c9ba3;
    --secondary-bg-color: #e0e0e0;
    --text-color: #333;
    --white: #fff;
}

/* === Styles généraux === */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--main-bg-color);
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Ajustement pour les tablettes (1024px) */
@media (max-width: 1024px) {
    body {
        padding-top: 100px; /* Padding réduit */
    }
}

    h1 {
        font-size: 1.8em;
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    h2, h3 {
        color: var(--primary-color);
        font-weight: bold;
        margin-bottom: 10px;
    }

    p, ul, li {
        font-size: 1em;
        margin-bottom: 20px;
    }

    ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    ul li {
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 0.9em;
    }


/* Style général du header */
header {
    width: 100%;
    background-color: var(--primary-color); /* Fond clair pour le header */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.header-container {
    display: flex;
    flex-direction: column; /* Les éléments seront empilés verticalement */
    align-items: center; /* Centrage horizontal du contenu */
    text-align: center; /* Centrer le texte du titre */
}

/* Style du titre */
.header-container h2 {
    margin: 0;
    color: var(--white); /* Couleur du titre */
}

/* Style de la navigation */
nav {
    width: 70%; /* La nav prend toute la largeur */
    margin: 0 auto;
    margin-top: 10px;
}

nav ul {
    display: flex; /* Disposition des éléments de manière horizontale */
    padding: 0;
    margin: 0;
    list-style: none; /* Enlève les puces */
    overflow-x: auto; /* Permet le défilement horizontal */
    -webkit-overflow-scrolling: touch; /* Amélioration du défilement sur mobile */
    justify-content: center;
}

nav ul li {
    flex-shrink: 0; /* Les éléments ne se réduiront pas */
    margin-right: 20px; /* Un peu d'espace entre les éléments */
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 10px 15px; /* Padding pour rendre les éléments plus grands */
    text-decoration: none; /* Enlève les soulignements des liens */
    color:var(--white);
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1e7f86; /* Changement de fond au survol */
}

        /* Version Tablette (taille d'écran entre 768px et 1024px) */
        @media (max-width: 1024px) and (min-width: 768px) {
            nav {
                margin: 0 auto; /* Centré horizontalement */
            }
        }

        /* Version Mobile (taille d'écran de moins de 768px) */
        @media (max-width: 767px) {
            .header-container {
                align-items: flex-start; /* Aligne tout à gauche */
                text-align: left; /* Aligne le texte du titre à gauche */
            }

            nav {
                width: 100%; /* La nav prend toute la largeur */
                margin: 0; /* Enlève le centrage */
            }

            nav ul {
                justify-content: flex-start; /* Aligne les liens à gauche */
                padding-right: 30px;
            }

            nav ul li {
                margin-right: 10px; /* Moins d'espace entre les éléments */
            }
        }


/* === Banner styles === */
    .banner {
        position: relative;
        width: 100%; /* L'élément occupe toute la largeur de l'écran */
        padding-bottom: 31.25%; /* 5/16 = 0.3125, soit 31.25% */
        overflow: hidden; /* Pour cacher tout débordement éventuel */
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* L'image occupe toute la largeur de la bannière */
        height: 100%; /* L'image occupe toute la hauteur de la bannière */
        object-fit: cover; /* L'image couvre l'espace sans déformation */
        object-position: center; /* Centrer l'image */
        display: block; /* Évite les espaces indésirables sous l'image */
    }


/* === Main content styles === */
    main {
        padding: 20px 20px;
        max-width: 1200px; /* Largeur maximale identique à celle de la bannière */
        margin: 0 auto; /* Centre le contenu principal */
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .patient-account {
        height: calc(100% - 103px);
    }

/* === Sections === */
    .section {
        margin-top: 30px;
    }

    @media (max-width: 1024px) {
        .section {
            max-width: 95%; /* Largeur de 95% pour les écrans mobiles */
        }
    }

    .section-title {
        background-color: var(--secondary-bg-color);
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        max-width: 40%;
        margin: 5px auto;
    }

    .section-content {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .appointments-section {
        width: 80%; /* Ajustez la largeur selon vos besoins */
        max-width: 600px; /* Définir une largeur maximale pour éviter que cela ne devienne trop large */
        margin: 0 auto; /* Centre la section horizontalement */
        text-align: center; /* Centre le texte à l'intérieur de la section */
    }

    .sections-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        width: 70%;
        margin: 0 auto;
    }
    
    @media (max-width: 1024px) {
        .section-container {
            width: 100%; /* Largeur de 95% pour les écrans mobiles */
        }
        .form-style {
            width: 100%;
            margin: 0 auto;
            justify-content: center;
            align-content: center;
        }
    }

    .horaires, .services {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 40%;
    }

    .opening-hours-container {
        display: block; /* Désactiver le mode flex pour le tableau */
        margin: 0 auto; /* Centrer le contenu horizontalement */
    }

/* === Styles pour les tableaux === */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 15px;
        text-align: center;
        background-color: var(--secondary-bg-color);
    }

    th {
        background-color: var(--primary-color);
        color: var(--white);
    }    

    @media (max-width: 1024px) {

    /* Adaptation de la section contenant la table */
    .appointments-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    table, th, td {
        display: flex; /* Passe le tableau en mode bloc */
        justify-content: center;
    }

    th, td {
        background-color: var(--secondary-bg-color);
        position: relative;
        text-align: center;
    }

    th {
        background-color: var(--primary-color);
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }

    /* Cacher les en-têtes sur mobile et les remplacer par des pseudo-éléments dans les cellules */
    th {
        position: absolute;
        left: -9999px; /* Cache les en-têtes de colonnes */
    }

    td {
        position: relative;
    }

    /* Utilisation du pseudo-élément :before pour ajouter une étiquette descriptive avant chaque donnée */
    td:before {
        content: attr(data-label); /* Utilise l'attribut data-label */
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        font-size: 0.9em;
    }

    /* Espacement entre les lignes de tableau */
    tr {
        display: block;
        margin-bottom: 15px;
    }
}


/* === Pour la section horaires === */
    .opening-hours-table th, .opening-hours-table td {
        text-align: left;
    }

    /* === Autres ajustements de mise en page pour les petits écrans === */
    @media (max-width: 1024px) {
        /* Modifier les éléments flexibles (comme les sections) */
        .sections-container {
            display: block; /* Passer à une mise en page en bloc */
            width: 100%;
        }

        .horaires {
            width: 50%; /* Prendre toute la largeur */
            margin-bottom: 20px; /* Ajouter de l'espace entre les sections */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .services {
            width: 50%;
        }

        .services li {
            align-items: center;
            justify-content: center;
        }

        .horaires-list {
            width: 100%;
            padding: 0;
        }

        @media (max-width: 768px) {
            .horaires {
                width: 90%;
            }
            
            .services {
                width: 90%;
            }  
        }
    }

/* === Contenu des listes === */
    main ul {
        list-style-type: none;
    }

    main ul li {
        background: var(--secondary-bg-color);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 1.1em;
    }

/* === Boutons === */
    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: var(--primary-color);
        border: none;
        color: var(--white);
        font-size: 1.2em;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        margin: 0 auto;
    }

    .button {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--white);
        border: none;
        padding: 8px 12px; /* Rembourrage du bouton */
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100px;
    }

    .button:hover {
        background-color: #1e7f86; /* Couleur au survol */
    }

    .delete-button {
        background-color: #dc3545; /* Couleur de fond rouge pour indiquer la suppression */
        color: white; /* Couleur du texte en blanc */
        border: none; /* Pas de bordure par défaut */
        padding: 8px 12px; /* Rembourrage du bouton */
        border-radius: 4px; /* Coins arrondis */
        cursor: pointer; /* Curseur qui change au survol */
        transition: background-color 0.3s; /* Transition pour une meilleure interaction */
        width: 100px;
    }

    .delete-button:hover {
        background-color: #c82333; /* Couleur au survol plus foncé */
    }

    .cta-button:hover {
        background-color: #1e7f86;
    }

/* === Formulaires === */

    .appointment-form {
        margin: 0 auto; /* Centre le formulaire horizontalement */
    }
    .form-style {
        background-color: var(--secondary-bg-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 20px auto; /* Ajoute un espacement autour */
        max-width: 400px; /* Assure une largeur maximale constante */
        text-align: center; /* Aligne le texte à gauche */
    }

    .form-style label {
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }

    .form-style input {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        font-size: 1em;
    }

/* === Styles pour la page Home === */
    .opening-hours-section {
        display: flex;
        justify-content: center;
    }

    .opening-hours-table {
        width: auto; /* Laisse le tableau s'adapter au contenu */
        table-layout: auto; /* Permet aux colonnes de s'adapter à leur contenu */
        border-collapse: collapse; /* Pour une bordure uniforme */
        margin: 0 auto;
    }

    .opening-hours-table th,
    .opening-hours-table td {
        padding: 10px; /* Pour un bon espacement */
        white-space: nowrap; /* Empêche le contenu de se casser à la ligne */
        text-align: center;
    }

    .opening-hours-table th {
        background-color: var(--primary-color); /* Couleur d'arrière-plan pour les en-têtes */
        color: var(--white); /* Couleur du texte pour les en-têtes */
    }

/* Style de la page services */
        .edit-form {
            margin-top: 20px; /* Espace au-dessus du formulaire */
            padding: 20px; /* Padding interne pour le formulaire */
            border: 1px solid #ccc; /* Bordure pour le formulaire */
            border-radius: 8px; /* Coins arrondis */
            background-color: #f9f9f9; /* Fond légèrement grisé */
            
        }

        .edit-form input[type="text"],
        .edit-form textarea,
        .edit-form input[type="file"] {
            width: 100%; /* Largeur complète pour les champs */
            max-width: 100%; /* Empêche le débordement à droite */
            padding: 10px; /* Padding interne pour les champs */
            margin-bottom: 15px; /* Espace entre les champs */
            border: 1px solid #ccc; /* Bordure des champs */
            border-radius: 4px; /* Coins arrondis */
            font-size: 16px; /* Taille de police pour le texte */
            box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
        }

        .edit-form textarea {
            height: 150px; /* Hauteur personnalisée pour le champ de description */
            resize: vertical; /* Permet de redimensionner verticalement le champ */
        }

        .edit-form img {
            margin-top: 10px; /* Espace au-dessus de l'image actuelle */
            max-width: 30%; /* Largeur maximale de l'image (80% du conteneur) */
            height: auto; /* Conserve le ratio d'aspect de l'image */
            display: block; /* Supprime l'espace indésirable autour de l'image */
            margin-left: auto; /* Centre l'image horizontalement */
            margin-right: auto; /* Centre l'image horizontalement */
        }

        .edit-form .button-container {
            display: flex; /* Utilise Flexbox pour le centrage */
            justify-content: center; /* Centre les éléments horizontalement */
            margin-top: 20px; /* Espace au-dessus du conteneur de boutons */
        }

        .edit-form button {
            margin: 0 5px; /* Espace horizontal entre les boutons */
        }

        .service-item {
            display: flex; /* Utilisation de Flexbox pour la mise en page */
            align-items: center; /* Centre verticalement les éléments dans le conteneur */
            margin-bottom: 20px; /* Espace entre les services */
        }

        .service-image {
            flex: 0 0 20%; /* L'image prend un tiers de la largeur du conteneur */
        }

        .service-image img {
            width: 100%; /* L'image prend toute la largeur de son conteneur */
            height: auto; /* Garde le ratio d'aspect de l'image */
            display: block; /* Supprime les espaces indésirables autour de l'image */
        }


        .service-details {
            flex: 1; /* Permet au conteneur des détails de prendre l'espace restant */
            padding-left: 20px; /* Espace entre l'image et le texte à gauche */
        }

        /* Styles pour l'élément impair (image à droite) */
        .service-odd {
            flex-direction: row-reverse; /* Inverse l'ordre des éléments pour les services impairs */
        }

        .service-odd .service-details {
            padding-left: 0; /* Supprime le padding à gauche */
            padding-right: 20px; /* Ajoute un espace entre le texte et l'image à droite */
        }

        h3 {
            margin: 0; /* Supprime les marges par défaut du titre */
        }


        /* === Styles pour les services === */
        @media (max-width: 1024px) {
            /* Formulaire */
            .edit-form {
                margin-top: 20px; 
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 8px;
                background-color: #f9f9f9;
            }

            .edit-form input[type="text"],
            .edit-form textarea,
            .edit-form input[type="file"] {
                width: 95%;
                max-width: 95%;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 16px;
                box-sizing: border-box;
            }

            .edit-form textarea {
                height: 150px;
                resize: vertical;
            }

            .edit-form img {
                margin-top: 10px;
                max-width: 90%;
                display: block;
            }

            .edit-form .button-container {
                display: flex;
                justify-content: center;
                margin-top: 20px;
            }

            .edit-form button {
                margin: 0 5px;
            }

            /* Services */
            .service-item {
                display: block; /* Passer à une disposition bloc en mobile */
                margin-bottom: 20px;
            }

            .service-image {
                width: 100%; /* L'image prend toute la largeur du conteneur */
                margin-bottom: 15px; /* Ajoute de l'espace sous l'image */
                
            }

            .service-image img {
                width: 100%; /* L'image prend toute la largeur du conteneur */
                max-width: 300px ;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .service-details {
                padding-left: 0;
                padding-right: 0;
            }

            .service-odd {
                flex-direction: column; /* Inverser l'ordre pour mobile, les services impairs seront aussi verticaux */
            }

            .service-odd .service-details {
                padding-left: 0;
                padding-right: 0;
            }

            h3 {
                margin: 0;
                font-size: 18px;
                text-align: center;
            }
        }


/* Style de la page news */
        .news-item {
            display: flex; /* Utilise Flexbox pour disposer les éléments */
            align-items: stretch; /* Assure que chaque item prenne la même hauteur */
            margin-top: 40px;
        }

        /* News impaires : image à droite */
        .news-item.odd {
            flex-direction: row-reverse; /* Inverse l'ordre pour les articles impairs */
        }

        .image-container {
            flex: 0 0 50%; /* Prend 50% de l'espace pour l'image */
            position: relative; /* Pour le positionnement de l'image */
        }

        .image-container:before {
            content: "";
            display: block;
            padding-top: 56.25%; /* Ratio d'aspect 16:9 (hauteur: largeur) */
        }

        .image-container img {
            position: absolute; /* Positionne l'image à l'intérieur du conteneur */
            top: 0; /* Positionne l'image en haut */
            left: 0; /* Positionne l'image à gauche */
            width: 100%; /* L'image prend toute la largeur de son conteneur */
            height: 100%; /* L'image prend toute la hauteur de son conteneur */
            object-fit: cover; /* Remplit l'espace sans déformer l'image */
        }

        .news-content {
            flex: 1; /* Prend le reste de l'espace disponible */
            display: flex;
            flex-direction: column; /* Permet de disposer le contenu en colonne */
            justify-content: center; /* Centre verticalement le contenu textuel */
            text-align: center; /* Centre le texte horizontalement */
            padding: 20px; /* Ajoute un peu d'espace autour du texte */
        }

        .full-article {
            width: 70%; /* Définit la largeur à 70% */
            margin: 0 auto; /* Centre le contenu horizontalement */
            padding: 20px; /* Ajoute un peu de padding autour du contenu */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère pour le style */
            background-color: #fff; /* Optionnel : ajoute un fond blanc pour le contraste */
            border-radius: 5px; /* Optionnel : arrondit légèrement les coins */
        }


        /* === Styles pour les news === */
        @media (max-width: 1024px) {
            .news-item {
                display: block; /* Passer à une disposition bloc en mobile */
                margin-top: 40px;
            }

            /* News impaires : image à droite */
            .news-item.odd {
                flex-direction: column-reverse; /* Inverse l'ordre des éléments pour les articles impairs */
            }

            .image-container {
                width: 100%; /* L'image prend toute la largeur du conteneur */
                height: 0; /* Utilisation du ratio pour la hauteur */
                margin-bottom: 15px; /* Ajoute un espace sous l'image */
                position: relative; /* Nécessaire pour le positionnement de l'image */
                min-height: 200px; /* Définit une hauteur minimum si le ratio est trop petit */
            }
            
            /* Maintenir le ratio d'aspect 16:9 */
            .image-container:before {
                content: "";
                display: block;
                padding-top: 56.25%; /* Ratio 16:9 (hauteur/largeur = 9/16, soit 56.25%) */
            }
            
            /* L'image à l'intérieur du conteneur */
            .image-container img {
                position: absolute; /* Positionne l'image dans le conteneur */
                top: 0; /* L'image commence en haut */
                left: 0; /* L'image commence à gauche */
                width: 100%; /* L'image prend toute la largeur du conteneur */
                height: 100%; /* L'image prend toute la hauteur du conteneur */
                object-fit: cover; /* Remplissage de l'espace sans distorsion */
                max-width: 100%; /* L'image ne dépasse pas la largeur du conteneur */
            }

            .news-content {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: 20px;
            }

            .full-article {
                width: 90%; /* Réduit la largeur de l'article pour plus d'espace sur mobile */
                margin: 0 auto;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: #fff;
                border-radius: 5px;
            }

            h2, h3 {
                font-size: 20px; /* Reduit la taille du titre sur mobile */
            }

            .full-article h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }
        }


/* === Footer === */
        footer {
            background-color: var(--primary-color);
            color: var(--white);
            padding: 20px;
            text-align: center;
            font-size: 0.9em;
            margin-top: auto;
        }

        footer p {
            margin: 0;
        }


/* === Carousel === */
    .carousel {
        position: relative;
        max-width: 600px; /* Ajustez la largeur selon vos besoins */
        max-height: 400px; /* Définir une hauteur fixe */
        margin: auto;
        overflow: hidden;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
        display: none; /* Masquer toutes les images par défaut */
    }

    .carousel-item.active {
        display: block; /* Afficher l'élément actif */
    }

    img {
        width: 100%; /* Rendre l'image responsive */
        height: 100%; /* Rendre l'image de la même hauteur que le conteneur */
        object-fit: cover; /* Ajuster l'image pour qu'elle couvre le conteneur sans déformer */
    }

    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        padding: 10px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    .carousel-indicators {
        text-align: center;
        padding: 10px 0;
    }

    .indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        background-color: #ccc;
        border-radius: 50%;
        cursor: pointer;
    }

    .indicator.active {
        background-color: #333;
    }