/* === Variables (optionnel) === */
:root {
    --main-bg-color: #f8f8f8;
    --primary-color: #2c9ba3;
    --secondary-bg-color: #f0f8fa;
    --text-color: #333;
    --white: #fff;
}

/* === Styles généraux === */
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8em;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h2, h3 {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

p, ul, li {
    font-size: 1em;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

nav ul li a {
    font-size: 0.9em;
}

/* === Header === */
header {
    background-color: #2c9ba3;
    padding: 20px 0;
    max-height: 20px;
}

.header-container {
    max-width: 1200px;
    max-height: 20px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header h2 {
    color: #ffffff;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #43444459;
}

/* === Main content styles === */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* === Sections === */
.section-title {
    background-color: var(--secondary-bg-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    max-width: 40%;
    margin: 5px auto;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.section-content {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.appointments-section {
    width: 80%; /* Ajustez la largeur selon vos besoins */
    max-width: 600px; /* Définir une largeur maximale pour éviter que cela ne devienne trop large */
    margin: 0 auto; /* Centre la section horizontalement */
    text-align: center; /* Centre le texte à l'intérieur de la section */
}

.appointments-table th,
.appointments-table td {
    text-align: center; /* Centre le texte dans les cellules du tableau */
    padding: 10px; /* Ajoute un peu d'espace autour du texte */
    border: 1px solid #ddd; /* Optionnel : ajoute une bordure pour une meilleure visibilité */
}

.sections-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 70%;
    margin: 0 auto;
}

.horaires, .services {
    flex: 1;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* === Contenu des listes === */
main ul {
    list-style-type: none;
}

main ul li {
    background: var(--secondary-bg-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

/* === Boutons === */
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 8px 12px; /* Rembourrage du bouton */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
}

.button:hover {
    background-color: #1e7f86; /* Couleur au survol */
}

.delete-button {
    background-color: #dc3545; /* Couleur de fond rouge pour indiquer la suppression */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Pas de bordure par défaut */
    padding: 8px 12px; /* Rembourrage du bouton */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Curseur qui change au survol */
    transition: background-color 0.3s; /* Transition pour une meilleure interaction */
    width: 100px;
}

.delete-button:hover {
    background-color: #c82333; /* Couleur au survol plus foncé */
}

.cta-button:hover {
    background-color: #1e7f86;
}

/* === Formulaires === */

.appointment-form {
    margin: 0 auto; /* Centre le formulaire horizontalement */
}
.form-style {
    background-color: var(--secondary-bg-color); /* Ou toute autre couleur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Ajoute un espacement autour */
    max-width: 400px; /* Assure une largeur maximale constante */
    text-align: center; /* Aligne le texte à gauche */
}

.form-style label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.form-style input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1em;
}



/* === Styles pour la section des rendez-vous === */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: var(--primary-color);
    color: var(--white);
}

/* === Styles pour la section des services === */

.service-item {
    display: flex; /* Utilisation de Flexbox pour la mise en page */
    align-items: center; /* Centre verticalement les éléments dans le conteneur */
    margin-bottom: 20px; /* Espace entre les services */
}

.service-image {
    flex: 0 0 33.33%; /* L'image prend un tiers de la largeur du conteneur */
    margin-right: 20px; /* Espace entre l'image et le contenu à gauche */
}

.service-image img {
    width: 100%; /* L'image prend toute la largeur de son conteneur */
    height: auto; /* Garde le ratio d'aspect de l'image */
    display: block; /* Supprime les espaces indésirables autour de l'image */
}

.service-details {
    flex: 1; /* Permet au conteneur des détails de prendre l'espace restant */
    margin-left: 20px; /* Ajoute un espace à gauche pour le texte à droite de l'image */
}

/* Styles pour l'élément impair (à droite) */
.odd {
    flex-direction: row-reverse; /* Inverse l'ordre des éléments pour les services impairs */
}

.odd .service-image {
    margin-left: 20px; /* Ajoute un espace à gauche pour les images à droite */
    margin-right: 0; /* Enlève l'espace à droite pour les images à droite */
}

h3 {
    margin: 0; /* Supprime les marges par défaut du titre */
}


/* === Footer === */
footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}



/* === Responsivité === */
@media (max-width: 768px) {
    main {
        padding: 20px;
    }

    h2, h3 {
        font-size: 1.5em;
    }

    .cta-button {
        font-size: 1em;
        padding: 8px 16px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    .sections-container {
        flex-direction: column;
    }

    .horaires, .services {
        margin-bottom: 20px;
    }

    .form-row {
        flex-direction: column; /* Empile les groupes de formulaire verticalement */
    }

    .form-group {
        margin-right: 0; /* Pas d'espace pour les groupes dans les colonnes */
        margin-bottom: 10px; /* Espace entre les groupes empilés */
    }
}